<p-menubar [model]="menuItems">
  <!-- GAUCHE : logo + liens + langues -->
  <ng-template pTemplate="start">
    <a class="logo-container" routerLink="/">
      <img alt="Logo" class="logo" src="/assets/logo.svg"/>
    </a>
  </ng-template>

  <ng-template pTemplate="end">
    <div class="right-zone">
      <a routerLink="/about" routerLinkActive="active" class="link">A propos</a>
      <app-lang-select
        (langChange)="onLangChange($event)"
        [lang]="currentLang">
      </app-lang-select>
      <app-user-menu></app-user-menu>
    </div>
  </ng-template>
</p-menubar>
