:host ::ng-deep .p-menubar {
  padding: 0.5rem 1rem;
  border-radius: 0;
}

.logo-container {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.logo {
  height: 32px;
  width: auto;
}

:host ::ng-deep .p-menubar-start {
  margin-right: 1rem;
}

:host ::ng-deep .p-menubar-end {
  display: flex;
  align-items: center;
}

.right-zone {
  display: flex;
  align-items: center;
  gap: 1rem;
}

/* petit style pour le lien */
.link {
  text-decoration: none;
  color: inherit;
}

.link.active {
  font-weight: bold;
}
