<div class="page">
  <div class="question__header">
    <div class="header-left">
      <p-button
        (onClick)="goBack()"
        icon="pi pi-arrow-left"
        label="Retour à la liste"
        severity="secondary"
        text
      ></p-button>
    </div>

    <h1 class="header-title">Modifier une question</h1>

    <div class="header-right">
      <p-button
        (onClick)="goView(id)"
        icon="pi pi-eye"
        label="Voir"
        severity="secondary"
      ></p-button>
    </div>
  </div>
</div>
<div class="page">
  @if (error()) {
    <div class="error">
      {{ error() }}
    </div>
  }
  @if (loading()) {
    <div>Chargement…</div>
  } @else {
    <form (ngSubmit)="save()" [formGroup]="form">
      <!-- Titre -->
      <div class="field">
        <label for="title">Titre</label>
        <input formControlName="title" id="title" pInputText type="text"/>
        @if (form.get('title')?.invalid && form.get('title')?.touched) {
          <div class="error">
            Le titre est obligatoire.
          </div>
        }
      </div>
      <div class="field field--inline">
        <label>
          <p-checkbox [binary]="true" formControlName="active"/>
          Active
        </label>
      </div>
      <!-- Sujets -->
      <div class="field">
        <label for="subjects">Sujets</label>
        <p-multiSelect
          [options]="subjectOptions"
          [showClear]="true"
          formControlName="subject_ids"
          id="subjects"
          optionLabel="name"
          optionValue="code"
          display="chip"
          placeholder="Sélectionner un ou plusieurs sujets"
        ></p-multiSelect>
        <small>
          Tu peux sélectionner plusieurs sujets dans le menu.
        </small>
      </div>

      <div class="field">
        <label>Média</label>
        <app-media-selector formControlName="media"></app-media-selector>
      </div>

      <!-- Description -->
      <div class="field">
        <label for="description">Description</label>
        <p-editor
          id="description"
          [style]="{ height: '100px' }"
          formControlName="description"
          placeholder="Description…">
        </p-editor>
      </div>

      <!-- Autorise plusieurs bonnes réponses -->
      <div class="field field--inline">
        <label>
          <p-checkbox [binary]="true" formControlName="allow_multiple_correct"></p-checkbox>
          Autoriser plusieurs réponses correctes
        </label>
      </div>
      <div class="field field--inline">
        <label>
          <p-checkbox [binary]="true" formControlName="is_mode_practice"></p-checkbox>
          Question pour s'exercer ?
        </label>
      </div>
      <div class="field field--inline">
        <label>
          <p-checkbox [binary]="true" formControlName="is_mode_exam"></p-checkbox>
          Question pour des examens ?
        </label>
      </div>

      <!-- Réponses --> <!--legend="Réponses possibles"-->
      <p-panel class="answers" formArrayName="answer_options" header="Réponses possibles">
        @for (group of answerOptions.controls; track group; let i = $index) {
          <div [formGroupName]="i" class="answer">
            <div class="field field--inline">
              <label for="answer-{{ i }}-order">Ordre :</label>
              <p-inputnumber [showButtons]="true" formControlName="sort_order" id="answer-{{ i }}-order"></p-inputnumber>
            </div>

            <div class="field">
              <label for="answer-{{ i }}-content">Réponse {{ i + 1 }}</label>
              <!-- <textarea class="form-textarea" id="answer-{{ i }}-content" formControlName="content"></textarea> -->
              <p-editor [style]="{ height: '100px' }" formControlName="content"
                        id="answer-{{ i }}-content"></p-editor>
            </div>

            <div class="field field--inline">
              <label>
                <p-checkbox [binary]="true" formControlName="is_correct"/>
                Bonne réponse
              </label>
              <p-button (click)="setOnlyCorrect(i)" icon="pi pi-star" id="btn_only_answer_{{i}}"
                        label="Marquer comme seule correcte"
                        severity="info" size="small" variant="outlined"></p-button>

            </div>
            <p-button (click)="removeOption(i)" [style]="{'width':'100%'}" icon="pi pi-trash"
                      id="btn_delete_answer_{{i}}"
                      label="Supprimer cette réponse"
                      severity="danger" size="small" variant="outlined"></p-button>
          </div>
        }

        <p-button (click)="addOption()" [style]="{'margin-top':'20px'}" icon="pi pi-plus" id="btn_add_response"
                  label="Ajouter une réponse"
                  severity="primary" size="small" variant="outlined"></p-button>

      </p-panel>


      <!-- Explication -->
      <div class="field">
        <label for="explanation">Explication</label>
        <p-editor
          id="explanation"
          [style]="{ height: '100px' }"
          formControlName="explanation"
          placeholder="Description…"
        ></p-editor>
      </div>

      <div class="actions">
        <p-button icon="pi pi-save" (onClick)="save()" id="btn_save" label="Enregistrer" severity="primary"></p-button>
        <p-button id="btn_back" label="Annuler" (onClick)="goList()" severity="secondary"></p-button>
      </div>
    </form>
  }
</div>
