.idea/
.venv/

**/__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/

wpref/.env
wpref/db.sqlite3
wpref/db.fullstack.sqlite3
wpref/.coverage
wpref/htmlcov/
wpref/media/question_media/*
!wpref/media/question_media/dummy.txt

wpref-frontend/node_modules/
wpref-frontend/dist/
wpref-frontend/.angular/
wpref-frontend/coverage/
wpref-frontend/test-results/
wpref-frontend/playwright-report/

.DS_Store
Thumbs.db
