<div class="multi-select" [class.disabled]="disabled">
  <!-- Zone cliquable (affichage sélection + caret) -->
  <div class="multi-select__control" (click)="toggleDropdown()">
    @if (selectedValues().length === 0) {
      <span class="multi-select__placeholder">
        {{ placeholder }}
      </span>
    }

    @if (selectedValues().length > 0) {
      <span class="multi-select__value">
        {{ getSelectedLabelSummary() }}
      </span>
    }

    <span class="multi-select__arrow" [class.open]="isOpen()">
      ▾
    </span>
  </div>

  <!-- Dropdown -->
  @if (isOpen()) {
    <div class="multi-select__dropdown">
      @for (opt of options; track opt) {
        <div
          class="multi-select__option"
          (click)="onOptionToggle(opt.value); $event.stopPropagation()"
          >
          <input
            type="checkbox"
            [checked]="isSelected(opt.value)"
            (click)="$event.stopPropagation()"
            />
            <span class="multi-select__label">{{ opt.label }}</span>
          </div>
        }
      </div>
    }
  </div>
