<div class="quiz-question">
  <p-card class="quiz-question--card">
    <!-- HEADER -->
    <ng-template pTemplate="header">
      <div class="quiz-question--card-header">

        <!-- Gauche : statut question.active -->
        <div class="header-left">
          @if (displayMode === 'preview') {
            <i
              [ngClass]="question.active ? 'pi-check-circle active-icon' : 'pi-times-circle inactive-icon'"
              class="pi"
            ></i>
          }
        </div>

        <!-- Centre : label -->
        <div class="header-center">
          Question {{ quizNavItem.index }}
        </div>

        <!-- Droite : icône fixe -->
        <div class="header-right">
          <p-togglebutton
            (onChange)="flagToggled.emit($event.checked)"
            [ngModel]="quizNavItem.flagged"
            class="w-36"
            offIcon="pi pi-bookmark"
            onIcon="pi pi-bookmark-fill"></p-togglebutton>
        </div>
      </div>
    </ng-template>

    <!-- Médias -->
    @if (question.media.length) {
      <div class="quiz-question__media">
        @for (m of question.media; track m.id ?? m.sort_order; let i = $index) {
          @switch (m.kind) {
            @case ('image') {
              <img
                [alt]="question.title"
                [src]="mediaSrc(m)"
                class="quiz-question__media-image"
              />
            }
            @case ('video') {
              <video
                [src]="mediaSrc(m)"
                class="quiz-question__media-video"
                controls
              >
                Votre navigateur ne supporte pas la vidéo.
              </video>
            }
            @case ('external') {
              @if (externalSafeUrl(m); as url) {
                <div class="youtube-wrapper">
                  <iframe
                    [src]="url"
                    allowfullscreen
                    frameborder="0"
                  ></iframe>
                </div>
              }
            }
          }
        }
      </div>
    }
    <!-- Description -->
    @if (question.description) {
      <div
        [innerHTML]="stripOuterP(question.description)"
        class="quiz-question__description"
      ></div>
    }
    <div class="quiz-question__answers">
      @for (opt of question.answer_options; track opt.id; let i = $index) {
        <div [ngClass]="{ 'answer-line--correct': showCorrectAnswers && opt.is_correct}" class="answer-line">
          @if (allowMultiple) {
            <!-- MULTI → checkbox -->
            <p-checkbox
              (onChange)="onToggleCheckbox(opt.id, $event.checked)"
              [binary]="true"
              [inputId]="'opt' + opt.id"
              [ngModel]="isChecked(opt.id)"
            ></p-checkbox>
          } @else {
            <!-- SINGLE → radio -->
            <p-radioButton
              (ngModelChange)="onSelectRadio($event)"
              [(ngModel)]="selectedRadioId"
              [inputId]="'opt' + opt.id"
              [value]="opt.id"
              name="q{{ question.id }}"
            ></p-radioButton>
          }

          <label [for]="'opt' + opt.id" class="answer-label">
            <div [innerHTML]="stripOuterP(opt.content)"></div>
          </label>
        </div>
      }
      <!-- Description -->
      @if (showCorrectAnswers && question.explanation) {
        <div
          [innerHTML]="stripOuterP(question.explanation)"
          class="quiz-question__description"
        ></div>
      }
    </div>
    <ng-template pTemplate="footer">
      <div class="card-footer">
        <p-button
          (onClick)="onPreviousClick()"
          [disabled]="!hasPrevious"
          icon="pi pi-chevron-left"
          label="Précédent"
          severity="secondary"
          styleClass="p-button-text"
        ></p-button>

        <span class="spacer"></span>

        <p-button
          (onClick)="onNextClick()"
          [disabled]="!hasNext"
          icon="pi pi-chevron-right"
          iconPos="right"
          label="Suivant"
          severity="secondary"
          styleClass="p-button-text"
        ></p-button>
      </div>
    </ng-template>

  </p-card>
  <!-- Réponses -->
</div>
