<div class="layout">
  <aside class="layout__left">
    <p class="center">QUIZ TITLE</p>
    <p class="center">USER</p>
    <p class="center">MODE</p>
    <p class="center">DURATION </p>
    <p class="center">09:59</p>
    <app-quiz-nav
      [items]="questionNavItems"
      [columns]="5"
      (questionSelected)="onQuestionSelected($event)"
    ></app-quiz-nav>
  </aside>

  <main class="layout__right">
    <!-- ta question courante, etc. -->
    Question actuelle : {{ currentQuestionIndex }}

    <!-- exemples de boutons de test -->
    <div class="layout__actions">
      <p-button
        (onClick)="markAnswered(currentQuestionIndex)"
        icon="pi pi-check"
        label="Marquer comme répondue"
      ></p-button>
      <p-button
        (onClick)="toggleFlag(currentQuestionIndex)"
        icon="pi pi-flag"
        label="Basculer flag"
        severity="secondary"
        variant="outlined"
      ></p-button>
    </div>
  </main>
</div>
