<div class="container">
  <div class="container__card">
    <div class="card__brand">
      <img src="assets/logo.svg" alt="Logo" class="brand__logo">
      <h1 class="brand__title">WpRef</h1>
      <p class="brand__subtitle">Connecte-toi pour continuer</p>
    </div>

    @if (errorMsg()) {
      <p-message
        severity="error"
        [text]="errorMsg() ?? undefined"
        styleClass="alert alert--error">
      </p-message>
    }

    <form
      [formGroup]="form"
      (ngSubmit)="submit()"
      class="container__form"
      autocomplete="on">

      <!-- Utilisateur -->
      <div class="field">
        <label for="username">Utilisateur</label>
        <input
          id="username"
          type="text"
          pInputText
          formControlName="username"
          placeholder="ton identifiant"
          autofocus
        />
        @if (f.username.touched && f.username.invalid) {
          <small class="field__error">
            Nom d’utilisateur requis (min. 3 caractères)
          </small>
        }
      </div>

      <!-- Mot de passe -->
      <div class="field">
        <label for="password">Mot de passe</label>
        <div class="password">
          <p-password [feedback]="false" [toggleMask]="true" formControlName="password" id="password"
                      placeholder="******" fluid></p-password>
        </div>
        @if (f.password.touched && f.password.invalid) {
          <small class="field__error">
            Mot de passe requis (min. 4 caractères)
          </small>
        }
      </div>

      <!-- Remember + reset -->
      <div class="row row--between">
        <div class="checkbox">
          <p-checkbox
            inputId="remember"
            formControlName="remember"
            [binary]="true"
            label="Se souvenir de moi"
          ></p-checkbox>
          <label for="remember">Se souvenir de moi</label>
        </div>

        <a routerLink="/reset-password" class="link">
          Mot de passe oublié ?
        </a>
      </div>

      <!-- Bouton submit -->
      <button
        pButton
        type="submit"
        label="Se connecter"
        class="btn btn--primary"
        [disabled]="loading() || form.invalid">
        @if (loading()) {
          <span class="spinner"></span>
        }
      </button>
    </form>

    <div class="card__footer">
      <span class="muted">Pas de compte ?</span>
      <a routerLink="/register" class="link">Créer un compte</a>
    </div>
  </div>
</div>
