<div class="toolbar">
  <h2>Quizz</h2>
  <div class="actions">
    <input (ngModelChange)="q.set($event); load()" [ngModel]="q()" pInputText placeholder="Rechercher…">
    <p-button (onClick)="goNew()" icon="pi pi-plus" id="btn_add_subject" label="Nouveau" severity="primary"></p-button>
  </div>
</div>

<p-table
  [value]="pagedQuiz"
  showGridlines
  size="small"
  stripedRows
>
  <ng-template #header>
    <tr>
      <th>Titre</th>
      <th>Utilisateur</th>
      <th>Mode</th>
      <th>Nb Questions</th>
      <th>Duration</th>
      <th>Active</th>
      <th>Created at</th>
      <th>Started at</th>
      <th>Ended at</th>
      <th style="width:60px;">Actions</th>
    </tr>
  </ng-template>
  <ng-template #body let-q>
    <tr>
      <td>{{ q.title }}</td>
      <td class="center-cell">{{ q.user }}</td>
      <td class="center-cell">{{ q.mode }}</td>
      <td class="center-cell">{{ q.max_questions }}</td>
      <td class="center-cell">
        <i
          [ngClass]="q.with_duration ? 'pi-check-circle active-icon' : 'pi-times-circle inactive-icon'"
          class="pi"
        ></i>
        @if (q.with_duration) {
          ( {{ q.duration }} min)
        }</td>
      <td class="center-cell"><i
        [ngClass]="!q.is_closed ? 'pi-check-circle active-icon' : 'pi-times-circle inactive-icon'"
        class="pi"
      ></i></td>
      <td class="center-cell">{{ q.created_at| date : 'short' }}</td>
      <td class="center-cell">{{ q.started_at| date : 'short' }}</td>
      <td class="center-cell">{{ q.closed_at| date : 'short' }}</td>
      <td class="row-actions">
        <p-button (click)="goView(q.id)" icon="pi pi-eye" id="btn_add_question" severity="secondary"
                  size="small"></p-button><!--
              <p-button id="btn_add_question" icon="pi pi-pencil" (click)="goEdit(q.id)" severity="info" size="small"></p-button>
              <p-button id="btn_delete_question" icon="pi pi-trash" (click)="goDelete(q.id)" severity="danger"
                        size="small"></p-button>-->
      </td>
    </tr>
  </ng-template>
</p-table>
@if (quizz().length > rows) {
  <div class="table-paginator">
    <p-paginator
      (onPageChange)="onPageChange($event)"
      [first]="first"
      [rowsPerPageOptions]="[5, 10, 20, 50]"
      [rows]="rows"
      [totalRecords]="quizz().length"
    ></p-paginator>
  </div>
}
<p-dialog
  [(visible)]="visible"
  [contentStyle]="{ 'max-height': '70vh', 'overflow-y': 'auto' }"
  [modal]="true"
  [style]="{ width: '600px', height: '80vh' }"
  header="Nouveau quiz"
>
  <app-quiz-subject-form
    #subjectForm
    (generate)="onGenerate($event)"
    (subjectsChange)="onSubjectsChange($event)"
    [maxQuestions]="maxQuestions()"
    [saving]="saving()"
    [success]="success()"
  >
  </app-quiz-subject-form>

  <ng-template pTemplate="footer">
    <button
      (click)="subjectForm.submitForm()"
      [disabled]="saving()"
      icon="pi pi-sync"
      label="Générer"
      pButton
    ></button>
    <button (click)="closeDialog()" class="p-button-text" label="Annuler" pButton></button>
  </ng-template>

</p-dialog>

